body {
  font-family: 'Poppins', sans-serif;
  background-color: #0d0d0d;
  color: #d8b4f8;
  margin: 0;
  padding: 0;
}

section {
  padding: 4rem 2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: #d8b4f8;
  color: black;
  padding: 0.6rem 1.2rem;
  border-radius: px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #a855f7;
  color: white;
}
@media (max-width: 400px) {
  .project-grid {
    flex-direction: column;
  }

  .cta {
    flex-direction: column;
  }
}
.profile-pic{
   width: 400px;          /* change size as needed */
    height: 400px;
    object-fit: cover;     /* makes image nicely cropped */
    border-radius: 100%;    /* makes it a perfect circle */
    border: 3px solid #fff;
    margin-left: 500px;
}
.skills-container{
 .skills-section {
  text-align: center;
  padding: 40px 20px;
 }


}
.skills-grid {
   display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 50px;
            column-gap: 20px;
            row-gap: 40px;
           margin-left: 30px;
           margin-right: 30px;
}
.skill-card {
  background: #111;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

.skills-grid img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.skills-grid p{
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
    

.skills-grid img:hover {
    transform: scale(1.1);
}



}

